fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    width: 90%;
    height: 25px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #EBF0FA;
    border-radius: 5px;
    transition: background-color 0.3s;

    background-color: #FFFFFF;
}

input::placeholder {
    font-size: 14px;
    color: #999;
}

input:hover {
    background-color: #F5F5F5;
    border-color: #ccc;
}

input:focus {
    background-color: #ecffef;
    border-color: #b0d5b6;
    outline: none;
}

.inputPares label,
.inputPares input {
    width: 40%;
    display: flexbox;
}

@media (max-width: 400px) {

    .inputPares label,
    .inputPares input {
        width: 90%;
    }
}